<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_Data_NSURLSession_HomeWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F38B8C801C3D101400442D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F38B8C991C3D101400442D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F38B8CA41C3D101400442D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
